.homenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #04003f;
  height: 12%;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px; /* Adjust the spacing between the ul elements */
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 22px;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: #ffffff;
  margin: 0 10px;
}

.homenav {
  position: fixed;
  width: 100%;
  z-index: 999; /* Ensure the navigation is above other elements */
}

.homenav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
}

nav a:hover {
  background-color: #ff6060;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 110vh;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  color: #ffffff;
}

.headlainofhome {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 12%;
}

.container {
  display: flex;
  align-items: center;
  gap: 10%; /* Adjust the spacing between the elements as needed */
}

.leftright {
  flex: 11;
}

h3 {
  font-size: 27px;
  font-weight: bold;
}

.headlainofhome {
  color: #00b9fe;
}

.centerheader {
  margin: 20px 0px 0px 0px;
  padding: 2% 0px 7% 0px;
  border-radius: 12px;
  text-align: center;
  background-color: #7633b7;
  font-size: larger;
  position: relative;
  z-index: 1;
}

.centerheader h1 {
  color: #00b9fe;
}

.endingofpage {
  background-color: #fff;
  margin: 0px 10% 0px 10%;
  padding: 3% 0px 10% 0px;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
  margin-top: -6%;
}

.take {
  padding: 20px 15% 20px 15%;
}

.take h1 {
  color: #00b9fe;
}

.take p {
  font-size: large;
}

@media (max-width: 768px) {
  .homenav li {
    font-size: small;
  }

  .homenav {
    height: 70px;
  }

  .headlainofhome {
    font-size: 14px;
    margin-top: 20%;
  }

  .container {
    display: block;
  }
  
  .container .leftright {
    padding: 1.25% 3%;
    font-size: 18px;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centerheader {
    font-size: 12px;
  }

  .endingofpage {
    font-size: 9px;
  }
  .endingofpage p {
    font-size: 10px;
  }

}
